html,
body {
  /* overflow-x: hidden; */
  box-sizing: border-box;
}

/* Section 003 : Charactar */
#charactar {
  width: 100%;
  height: 100vh;
  padding: 18rem 0;
  background: url(../src/charactar-bg.png) no-repeat 50% / cover;
  position: relative;
}

#charactar .sec-title h2::before {
  background: url(../src/deco-masking-yellow.png) no-repeat 50% / contain;
  transform: translate(-50%, -50%) rotate(-3deg);
}

#charactar .sec-title h2::after {
  background: url(../src/deco-masking-green.png) no-repeat 50% / contain;
  transform: translate(-50%, -50%) rotate(6deg);
}

/* 캐릭터 슬라이드 */
.charactar-slide-wrap {
  width: 100rem;
  height: 60rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #000; */
}

.charactar-slide {
  overflow: visible;
  position: relative;
}

.con-wrap {
  display: flex;
  height: 60rem;
}

.charactar-info {
  width: 0;
  height: 100%;
  transition: 0.4s 0.5s;
  /* border: 1px solid #000; */
  opacity: 0;
  /* background: yellow; */
}
.charactar-img {
  width: 50rem;
  height: 100%;
}

.swiper-slide.swiper-slide-active {
  transform: scale(1);
  width: 100rem !important;
  /* border: 1px solid #000; */
}
.swiper-slide.swiper-slide-prev {
  transform-origin: 25% 50%;
}

.swiper-slide.swiper-slide-next {
  transform-origin: 75% 50%;
}

.swiper-slide {
  /* border: 1px solid #000; */
  overflow: hidden;
  height: 60rem;
  width: 50rem !important;

  transition: 0.4s;
  transform: scale(0.9);

  /* border: 1px solid #000; */

  border-radius: 2rem;
}

.charactar-slide .swiper-slide.swiper-slide-active .charactar-info {
  overflow: hidden;
  width: 50rem;
  height: 60rem;

  padding: 10rem 8rem 12rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background: var(--white1);
  /* border: 1px solid #000; */
  border-radius: 2rem 0 0 2rem;

  opacity: 1;
}

.charactar-slide .swiper-slide.swiper-slide-active .con-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.charactar-slide .swiper-slide .con-wrap {
  transition: 0.4s;
  width: 50rem;
  /* border: 5px solid #000; */
}

.charactar-info {
  /* display: none; */
  transition: 0.4s;
}

.charactar-info .title strong {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--black);
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}

.charactar-info .title strong b {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--black2);
  padding-bottom: 0.8rem;
}

.charactar-info .title .tag-wrap {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
}
.charactar-info .title .tag-wrap span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1.6rem;
  border-radius: 4rem;
  border: 2.5px solid var(--red);
  background: rgba(229, 49, 49, 0.2);
  background: var(--red);
  color: var(--white1);
  font-weight: 600;
}
.charactar-info .title .tag-wrap span b {
  font-weight: 500;
  margin-right: 0.4rem;
}
.charactar-info .detail {
  margin-top: 4rem;
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  font-size: 1.8rem;
}

.swiper-slide.swiper-slide-active {
  overflow: visible;
  border-radius: 2rem;
}

.swiper-slide-active .charactar-img {
  overflow: visible;
}

.charactar-slide .swiper-slide.swiper-slide-active .charactar-img {
  width: 60rem;
  border-radius: 0 2rem 2rem 0;
}

.charactar-img {
  height: 60rem;
  overflow: hidden;
  position: relative;
  transition: 0.4s;
  z-index: -1;
  transition: 0.4s;
}

.charactar-img span {
  position: absolute;

  left: 0;
  font-weight: 900;
  font-family: 'Poppins';
  font-size: 15rem;
  letter-spacing: -0.8rem;

  color: var(--white1);
  z-index: 0;
  /* border: 1px solid #000; */
  transition: 0.4s;
}
.charactar-img figure,
.charactar-img img {
  transition: 0.4s;
}

/* 캐릭터 슬라이드 커스텀*/
/* 우디 텍스트*/
.charactar-info .title .tag-wrap.woody span {
  border: 2.5px solid var(--red);
  background: var(--red);
  color: var(--white1);
}

/* 우디 이미지 */
.charactar-img.woody {
  background: var(--red);
}
.charactar-img.woody span {
  transform: rotate(40deg);
  bottom: 5%;
  left: -15%;
}

.charactar-img.woody .woody-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.charactar-img.woody .woody-img figure {
  /* border: 1px solid #000; */
  position: absolute;
  bottom: 0;
  right: 0%;
  z-index: 3;
}

.charactar-img.woody .woody-img img {
  aspect-ratio: 0.614595210946408 / 1;
  width: 38rem;
  /* height: 10rem; */
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.4)) grayscale(1);
}

/* 활성화된 슬라이드 우디 이미지 */
.swiper-slide-active .charactar-img.woody span {
  transform: rotate(-90deg);
  font-size: 14.5rem;
  bottom: 30%;
  left: -27%;
}

.swiper-slide-active .charactar-img.woody .woody-img figure {
  /* border: 1px solid #000; */
  position: absolute;
  bottom: 0;
  right: 0%;
  z-index: 3;
}
.swiper-slide-active .charactar-img.woody .woody-img img {
  aspect-ratio: 0.614595210946408 / 1;
  width: 46rem;
  /* height: 10rem; */
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.4)) grayscale(0);
}

/* 포키 텍스트 */
.charactar-info .title .tag-wrap.forky span {
  border: 2.5px solid var(--blue);
  background: var(--blue);
  color: var(--white1);
}

/* 포키 이미지 */
.charactar-img.forky {
  background: var(--blue);
}
.charactar-img.forky span {
  transform: translateX(-50%) rotate(0deg);
  top: 0%;
  left: 50%;
  font-size: 15rem;
}

.charactar-img.forky .forky-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.charactar-img.forky .forky-img figure {
  /* border: 1px solid #000; */
  position: absolute;
  bottom: -40%;
  right: -20%;
  z-index: 3;
  transform: scale(1.1);
  transition: 0.4s;
}

.charactar-img.forky .forky-img img {
  /* aspect-ratio: 0.614595210946408 / 1; */
  aspect-ratio: 0.892712550607287 / 1;
  width: 60rem;
  /* height: 10rem; */
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.4)) grayscale(1);
}

/* 활성화된 슬라이드 포키 이미지 */
.swiper-slide-active .charactar-img.forky span {
  transform: rotate(-90deg);
  font-size: 17rem;
  bottom: 0%;
  left: -5%;
}
.swiper-slide-active .charactar-img.forky .forky-img figure {
  /* border: 1px solid #000; */
  position: absolute;
  bottom: 0%;
  left: 15%;
  transform: scale(1);
  z-index: 3;
}
.swiper-slide-active .charactar-img.forky .forky-img img {
  aspect-ratio: 0.892712550607287 / 1;
  width: 48rem;
  /* height: 10rem; */
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.4)) grayscale(0);
}

/* 보핍 텍스트 */
.charactar-info .title .tag-wrap.bopeep span {
  border: 2.5px solid var(--yellow);
  background: var(--yellow);
  color: var(--red);
}

/* 보핍 이미지 */
.charactar-img.bopeep {
  background: var(--yellow);
}
.charactar-img.bopeep span {
  transform: rotate(0deg);
  top: 5%;
  left: 5%;
  font-size: 18rem;
  line-height: 0.8;
}

.charactar-img.bopeep .bopeep-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.charactar-img.bopeep .bopeep-img figure {
  /* border: 1px solid #000; */
  position: absolute;
  bottom: 0%;
  right: -20%;
  z-index: 3;
}

.charactar-img.bopeep .bopeep-img img {
  /* aspect-ratio: 0.614595210946408 / 1; */
  aspect-ratio: 0.722147651006711 / 1;
  width: 52rem;
  /* height: 10rem; */
  object-fit: contain;
  transition: 0.4s;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.4)) grayscale(1);
}

/* 활성화된 슬라이드 보핍 이미지 */
.swiper-slide-active .charactar-img.bopeep span {
  transform: rotate(0deg);
  text-align: right;
  font-size: 17rem;
  top: 5%;
  right: 5%;
  line-height: 0.8;
}
.swiper-slide-active .charactar-img.bopeep .bopeep-img figure {
  /* border: 1px solid #000; */
  position: absolute;
  bottom: 0%;
  left: -15%;
  z-index: 3;
}
.swiper-slide-active .charactar-img.bopeep .bopeep-img img {
  aspect-ratio: 0.892712550607287 / 1;
  width: 68rem;
  /* height: 10rem; */
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.4)) grayscale(0);
}

/* 버즈 텍스트 */
.charactar-info .title .tag-wrap.buzz span {
  border: 2.5px solid var(--blue);
  background: var(--blue);
  color: var(--white1);
}

/* 버즈 이미지 */
.charactar-img.buzz {
  background: var(--purple);
}
.charactar-img.buzz span {
  transform: rotate(0deg) translateX(-50%);
  transform-origin: center;
  top: 5%;
  left: 50%;
  font-size: 18rem;
  line-height: 1.2;
}

.charactar-img.buzz .buzz-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.charactar-img.buzz .buzz-img figure {
  /* border: 1px solid #000; */
  position: absolute;
  bottom: -20%;
  left: 0;
  z-index: 3;
  transition: 0.4s;
}

.charactar-img.buzz .buzz-img img {
  /* aspect-ratio: 0.614595210946408 / 1; */
  aspect-ratio: 0.835182250396197 / 1;
  width: 100%;
  /* height: 10rem; */
  object-fit: contain;
  transition: 0.4s;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.4)) grayscale(1);
}

/* 활성화된 슬라이드 버즈 이미지 */
.swiper-slide-active .charactar-img.buzz span {
  transform: rotate(0deg) translateX(-50%);
  font-size: 17rem;
  top: 10%;
  left: 50%;
  line-height: 0.8;
}
.swiper-slide-active .charactar-img.buzz .buzz-img figure {
  /* border: 1px solid #000; */
  position: absolute;
  bottom: 0%;
  right: 0;
  border-radius: 0 0 2rem 0;
  /* border: 1px solid #000; */
  overflow: hidden;
  transform-origin: right bottom;
  transform: scale(1.1);
  z-index: 3;
}
.swiper-slide-active .charactar-img.buzz .buzz-img img {
  /* aspect-ratio: 0.892712550607287 / 1; */
  width: 100%;
  /* height: 10rem; */
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.4)) grayscale(0);
}

/* 슬라이드 버튼 */
.charactar-slide .btn-wrap {
  width: 100%;
  /* height: 100%; */
  /* border: 1px solid #000; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}
.slide-btn {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: var(--white1) no-repeat 55% 50% / 20% auto;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--line);
  cursor: pointer;
}
.slide-btn-prev {
  transform-origin: center;
  left: -4rem;
  background-image: url(../src/ico-arr.svg);
  transform: rotate(-180deg) translateY(50%);
}
.slide-btn-next {
  right: -4rem;
  background-image: url(../src/ico-arr.svg);
}
